<h1 class="text-center">Your word : <%= @answer.capitalize %></h1>
<p class="text-center"><strong>Time Taken to answer:</strong> <%= @time_to_answer %></p>
<p class="text-center"><strong>Translation:</strong> <%= @translation.capitalize %></p>
<p class="text-center"><strong>Your score:</strong> <%= @player_score %></p>
<p class="text-center"><strong>Message:</strong> <%= @message %></p>
<%= link_to 'Play again ?', game_path, class: "text-center button-blue" %>
